<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.nudge.judopay.JudoPaymentPlugin" version="0.1" 
        xmlns="http://apache.org/cordova/ns/plugins/1.0" 
        xmlns:android="http://schemas.android.com/apk/res/android">
    
    <name>JudoPaymentPlugin</name>
    
    <js-module name="JudoPaymentPlugin" src="www/JudoPaymentPlugin.js">
        <clobbers target="JudoPaymentPlugin" />
    </js-module>
    
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="JudoPaymentPlugin">
                <param name="android-package" value="com.nudge.judopay.JudoPaymentPlugin" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml" />
        <source-file src="src/android/JudoPaymentPlugin.java" target-dir="src/com/nudge/judopay" />
        <source-file src="src/android/JudoLibrary" target-dir="./" />
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <activity android:name="com.judopay.android.library.activities.PaymentTokenActivity"/>
            <activity android:name="com.judopay.android.library.activities.PaymentActivity"/>
            <activity android:name="com.judopay.android.library.activities.PreAuthActivity"/>
            <activity android:name="com.judopay.android.library.activities.PreAuthTokenActivity"/>
            <activity android:name="com.judopay.android.library.activities.RegisterCardActivity"/>
        </config-file>
    </platform>
    
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="JudoPaymentPlugin">
                <param name="ios-package" value="JudoPaymentPlugin" />
            </feature>
        </config-file>

		<header-file src="src/ios/JudoPaymentPlugin.h" />
		<source-file src="src/ios/JudoPaymentPlugin.m" />
        <resource-file src="src/ios/Framework/JudoPay.bundle" />
        <framework src="src/ios/Framework/JudoPay.framework" custom="true" />

    </platform>
</plugin>