<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.nudge.judopay.JudoPaymentPlugin" version="0.1" 
        xmlns="http://apache.org/cordova/ns/plugins/1.0" 
        xmlns:android="http://schemas.android.com/apk/res/android">
    
    <name>JudoPaymentPlugin</name>
    <preference name="API_TOKEN" />
    <preference name="API_SECRET" />
    <preference name="JUDO_ID" />
    <preference name="JUDO_ENV" />
    
    <js-module name="JudoPaymentPlugin" src="www/JudoPaymentPlugin.js">
        <clobbers target="JudoPaymentPlugin" />
    </js-module>
    
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="JudoPaymentPlugin">
                <param name="android-package" value="com.nudge.judopay.JudoPaymentPlugin" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml" />
        <source-file src="src/android/JudoPaymentPlugin.java" target-dir="src/com/nudge/judopay" />
        <source-file src="src/android/JudoLibrary" target-dir="./" />
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <activity android:name="com.judopay.android.library.activities.PaymentTokenActivity"/>
            <activity android:name="com.judopay.android.library.activities.PaymentActivity"/>
            <activity android:name="com.judopay.android.library.activities.PreAuthActivity"/>
            <activity android:name="com.judopay.android.library.activities.PreAuthTokenActivity"/>
            <activity android:name="com.judopay.android.library.activities.RegisterCardActivity"/>
        </config-file>
        <source-file src="src/android/res/values/JudoPaymentPlugin.xml" target-dir="res/values" />
        <config-file target="res/values/JudoPaymentPlugin.xml" parent="/*">
            <string name="judo_api_token">$API_TOKEN</string>
            <string name="judo_api_secret">$API_SECRET</string>
            <string name="judo_id">$JUDO_ID</string>
            <string name="judo_env">$JUDO_ENV</string>

        </config-file>
    </platform>
    
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="JudoPaymentPlugin">
                <param name="ios-package" value="JudoPaymentPlugin" />
            </feature>
        </config-file>

		<header-file src="src/ios/JudoPaymentPlugin.h" />
		<source-file src="src/ios/JudoPaymentPlugin.m" />
        <resource-file src="src/ios/Framework/JudoPay.bundle" />
        <framework src="src/ios/Framework/JudoPay.framework" custom="true" />
        <framework src="CoreTelephony.framework" weak="true" />

        <config-file target="*-Info.plist" parent="JudoAPIToken">
            <string>$API_TOKEN</string>
        </config-file>
        
        <config-file target="*-Info.plist" parent="JudoAPISecret">
            <string>$API_SECRET</string>
        </config-file>

        <config-file target="*-Info.plist" parent="JudoID">
            <string>$JUDO_ID</string>
        </config-file>

        <config-file target="*-Info.plist" parent="JudoENV">
            <string>$JUDO_ENV</string>
        </config-file>

    </platform>
</plugin>